/* universal styles */


body {
    margin: 0px;
    background-color: #ec757b;
}
a {
    text-decoration: none;
}
/* ****************** */

.animationLeft.ng-animate {
    transition: .5s all ease-in;
}
.animationLeft.ng-leave {
    transform:translate(0, 0);
}
.animationLeft.ng-leave.ng-leave-active {
    transform:translate(-600px, 50px) rotate(-40deg) scale(.2);
}

.animationRight.ng-animate {
    transition: .5s all ease-in;
    
}
.animationRight.ng-leave {
    transform:translate(0, 0);
}
.animationRight.ng-leave.ng-leave-active {
    transform:translate(600px, 50px) rotate(40deg) scale(.2);
}

.leftAni {
    animation: leftAni 1s linear infinite;
  }
@keyframes leftAni {
    from { transform: translateX(20px);
        opacity: .25;  }
    to { transform: translateX(0px);
        opacity: 1;
    }
}

.rightAni {
    animation: rightAni 1s linear infinite;
  }
@keyframes rightAni {
    from { transform: translateX(0px);
        opacity: .25;  }
    to { transform: translateX(20px);
        opacity: 1;
    }
}

.leftAniInfo {
    animation: leftAni 2s linear;
  }
@keyframes leftAni {
    from { transform: translateX(50px);
        opacity: .25;  }
    to { transform: translateX(0px);
        opacity: 1;
    }
}

.comp__two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image__container {
    background-color: #ec757b;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.image2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cuisine__label {
    padding-right: 10px;
}

.choices__count {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    transform: translateX(-50%);
    left: 50%;
    bottom: -70px;
    color: black;
    }

.frame {
    position: absolute;
    top: 0px;
    width: 110%;
    left: -5%;
    height: 550px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 3px 2px 30px 6px rgba(145,145,145,0.75);
    background-color: white;

}

.landing__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffccf;
    height: 100vh;
}
.logo{
    height: 200px;
    width: 200px;
}
.app__title {
    font-family: 'Sniglet', cursive;
    font-size: 3em;
    color: #ec757b;
}
.app__info {
    display: flex;
    text-align: center; 
    font-family: 'Arimo', sans-serif;
    font-size: 1.5em;
    color: #f3b0a0;
}
.location {
    margin: 10px;
    text-align: center;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #f3b0a0;
    background-color: #fffccf;
    color: #a23339;
    font-size: 1.5em;
    outline: none;
    

}

::-webkit-input-placeholder {
    color: #a23339;
}
.search__btn {
    font-family: 'Sniglet', cursive;
    border: 3px solid #ec757b;
    font-size: 2em;
    background-color: #fffccf;
    padding-left: 30px;
    padding-right: 30px;
    color: #ec757b;
    border-radius: 25px;
    outline: none;
    width: 50%;
}
.search__btn:hover { 
    background-color: #ec757b;
    color: #fffccf;
    box-shadow: 0 0 #ccc;
}

.load {
    top: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #fffccf;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rest__page {
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 460px;
    min-width: 460px;
    padding: 10px;
}
.rest__name {
    font-size: 3em;
    margin-bottom: 30px;
}
.cuisine__type {
    font-size: 1.75em;
    margin-bottom: 30px;
}
.rest__price {
    font-size: 1.75em;
    margin-bottom: 30px;
}
.page__three {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rest__info {
    
}
.navigation {

}
.menu__btn {
    border: 1px solid #fffccf;
    background-color: #fffccf;
    color: #ec757b;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1em;
}
i {
    visibility: hidden;

}


@media only screen and (min-width: 928px) {
    .fa-arrow-right {
        visibility: visible;
        left: 35%;
        bottom: -374px;
        position: relative;
        font-size: 6em;
        color: white;
    }

    .fa-arrow-left {
        visibility: visible;
        right: 35%;
        bottom: -374px;
        position: relative;
        font-size: 6em;
        color: white;
    }
}


@media only screen and (min-width: 600px) {
    .body {
        margin: 0px;
        height: 100vh;
    }
    .landing__page {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        height: 100vh;
    }
    .logo {
        display: flex;
        width: 300px;
        height: 300px;
    }
    .app__title {
        margin-bottom: 1px;
    }
    .image2 {
        border: 15px solid white;
        border-bottom: 70px solid white;
        box-shadow: inset 0px 0px 0px 1px rgba(135,135,135,1),  0px 0px 7px -1px rgb(159, 159, 159);
        width: 600px;
        height: 70vh;
        margin-top: 40px;
    }
    .image__container {
        background-color: #ec757b;
        display: flex;
        flex-direction: row;
    }
    .page__three {
        justify-content: flex-start;
        padding-left: 50px;
    }
    .rest__page {
    }
    
}