<div class="flip"> 
    <div class="card" ng-class="{'flipped':isFlipped}" "> 
        
        <div class="rest__info"">Based on your choices, here are the top 3 restaurants for you, in your area:</div>
        <div class="face front"> 
            <section class="rest__page" ng-repeat="rest in $ctrl.results 
            | limit 1 track by $index" ng-style="{'background-color': 'Yellow'} ">
                <p>Cuisine Types: {{rest.restaurant.cuisines}}</p>
                <section class="navigation">
                    <button class="btn__lock">Go To Restaurant</button>
                    <button class="btn__delete" ng-click="$ctrl.nextRest($index)">Next Option
                    </button>
                    <button ng-click="isFlipped=!isFlipped">See Details</button>
                </section>
            </section>
        </div> 
       
       
        <div class="face back"> 
            Back
        </div>

    </div> 
</div> 