<section class="comp__two">

    

    <div 
    class="image__container">
        <section class="image2" ng-repeat="item in $ctrl.photosArray track by $index"
            ng-style="{'background-image': 'url(' + item.photoHREF + ')'}" ng-swipe-left="$ctrl.discardItem($index)"
            ng-swipe-right="$ctrl.addItem(item.cuisineID, $index)"
            addclass
            addclassb>
            
            <div class="cuisine__label">{{item.cuisine}}</div>


        </section>
    </div>

    <div class="choices__count">{{$ctrl.cuisineArray.length}}</div>

</section>


<section class="load" ng-if="$ctrl.loadIf">
    <img src="/public/app/assets/loading.gif" alt="">
</section>